---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import LinkedIn from '../icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';
import Mail from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../icons/Briefcase.astro';
import Code from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Stack from '../icons/Stack.astro';
---

<Layout title="Portfolio de Pablo Martinez Aznar - Performance Tester & Backend Developer"
		description="">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32" id="about">
			<img class="rounded-full w-12 h-12" src="https://media.licdn.com/dms/image/v2/D4D03AQFtv1QzO40inw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1726140466250?e=2147483647&v=beta&t=joheRz0b1h1MBhJb-0qfmUxtNnl3XEdq_OHB9KFfZqM" alt="Photo">
			<h1 class="text:black dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Pablo Martinez Aznar 
				<a 	href="https://www.linkedin.com/in/pablo-martinez-aznar-b38812198" 
					target="_blank" 
					rel="noopener" 
					class="flex justify-center items-center"
					>
						<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-yellow-200/90">Performance Engineer & Backend Developer</span>. 
				<!--
				<span class="text-red-200/90">De Alicante, España</span>.
				-->
				<span class="opacity-85">Especializado en construir aplicaciones robustas y de alto rendimiento</span>.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/pablo-martinez-aznar-b38812198">
					<LinkedIn class="w-6 h-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Pabs33">
					<GitHub class="w-6 h-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:pablomartinezaznar@gmail.com">
					<Mail class="w-6 h-6"/>
					pablomartinezaznar@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="tecnologias">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Stack class="size-7"/>
				Tecnologias
			</h2>
			<Tecnologias />
		</SectionContainer>
	</main>
	<script is:inline>
		document.documentElement.classList["add"]("dark")
	</script>
</Layout>
