---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
        date: 'Marzo 2022 - Actualmente',
        title: 'Performance Engineer - Minsait',
        description: 'Performance Engineer en Santander Digital Services. Encargado de planificar, desarrollar y analizar pruebas unitarias, de concurrencia, de escalabilidad y de carga para las diferentes aplicaciones del banco.'
    },
    {
        date: 'Marzo 2020',
        title: 'Tecnico de sistemas - Tecnofix Distribución',
        description: 'Tecnico de sistemas en tecnofix distribución. Encargado de reparar dispositivos moviles y ordenadores.'
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experience}/>
            </li>
        ))
    }                
    
    
</ol>

